<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- <link rel="Icon" href="img/coffeepet-logo.png" type="image/x-icon"> -->
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"></script> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"></link>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
    
    <link rel="stylesheet" href="/css/login.css">
    <!-- <link rel="stylesheet" href="/css/error.css"> -->
    <!-- <link rel="stylesheet" href="css/admin.css"> -->
</head>

<body class="text-center">
    <div id="panel" class="panel" style="display: none;"> 
        <div class="contenedor">
            <div class="spinner-border text-light spinne" style="width: 10rem; height: 10rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        
    </div>
    <main class="form-login">
        <section class="card-template s-pxy-4 lg-x-4 lg-cols-4">
            <a href="/" class="icon-link">
                <div class="main-logotype s-cross-center s-relative s-main-center l-block">
                    <!-- <img id="logo" class="mb-4" src="img/Coffee Pet-LOGO1.svg" alt=""> -->
                    <i class="fa-solid fa-user"></i>
                </div>
            </a>
            <h1 class="t2 s-weight-extrabold s-center s-mb-4">Inicia sesión</h1>
            <form id="loginForm">
                <div class="input-form s-relative s-mb-2 ">
                    
                    <div class="s-relative s-cross-center">
                        <label class="s-mb-1 s-weight-semibold small">Correo electrónico</label>
                        <input id="log_email" type="email" name="email" class="form-control" placeholder="Escribe tu correo electrónico" required>
                    </div>
                </div>
                
                <div class="s-relative s-cross-center">
                    <label id="login-lpassword" class="s-mb-1 s-weight-semibold small">Contraseña</label>
                    <div class="input-group">
                        <input id="password" type="password" name="password" class="form-control" placeholder="Escribe tu contraseña" required>
                        <button id="log_show_password" class="btn btn-primary" type="button" onclick="mostrarContrasena()"><span class="fa fa-eye-slash icon"></span></span> </button>
                        
                    </div>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesión</button>
                <p class="mt-5 mb-3 text-muted">&copy; <span id="currentYear"></span> MyDrive | escalandres </p>
            </form>
            <div class="ed-grid s-center">
                <p class="s-mb-05 end">
                    <span class="s-color-text">¿No tienes una cuenta?</span>
                    <a href="registro">
                        <span class="color blue-400">Regístrate gratis</span>
                    </a> 
                </p>
                <a href="#">
                    <span class="color blue-400 end">¿Olvidaste tu contraseña?</span>
                </a>
            </div>
            
        </section>
        
    </main>
    <script src="/js/script.js"></script>

</body>
</html>