:root{
    --active-link: #0d6efd;
    --sidebar-grey: rgb(248,249,250);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.nav-icon{
    width: 30px;
    height: 30px;
}

.input-container {
    position: relative;
}

.icon-input {
    padding-left: 35px !important; /* Espacio para el icono */
}

.icon {
    position: absolute;
    left: 11px; /* Posición del icono */
    top: 11px; /* Posición del icono */
    color: grey;
}

.form-switch .form-switch-input {
    font-size: 1em;
    width: 3rem !important;
    
}

.sidebar {
    background-color: var(--sidebar-grey); /* Color de fondo de la barra lateral */
}

.sidebar-item:hover{
    background-color: var(--active-link);
    color: azure!important;
}

.h40{
    height: 40px;
}
