body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.table-container {
    overflow-x: auto;
    padding: 16px;
}

.main-container{
    padding: 3rem;
}

tbody > tr:hover{
    background-color: rgb(240,241,241);
}
.selected-row {
    background-color: rgb(194,231,255) !important;
}

.responsive-table {
    border-collapse: collapse;
    width: 100%;
    border: none;
}

.responsive-table th,
.responsive-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.responsive-table th {
    font-weight: bold;
    /* background-color: #f2f2f2; */
}

.responsive-table th:first-child,
.responsive-table td:first-child {
    width: 60%;
}

.responsive-table th:nth-child(2),
.responsive-table td:nth-child(2) {
    width: 25%;
}

.responsive-table th:nth-child(3),
.responsive-table td:nth-child(3) {
    width: 15%;
}

@media screen and (max-width: 600px) {
    .responsive-table th,
    .responsive-table td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    .responsive-table th,
    .responsive-table td {
        /* Opcional: Puedes agregar más estilos aquí para ajustar la apariencia en dispositivos móviles */
    }
}

/* .dataTables_paginate > a {
    border: 1px solid grey !important;
    border-radius: 20px !important;
} */

.pagination {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .pagination li {
    display: inline-block;
    margin: 0;
  }

  .pagination li a {
    color: #007bff;
    display: block;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
  }

  .pagination li.active a {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }

  .pagination li.disabled a {
    color: #6c757d;
    cursor: default;
    opacity: 0.5;
  }

  .pagination li:first-child a,
  .pagination li:last-child a {
    border-radius: 0.25rem;
  }

  .pagination li:first-child a {
    margin-right: 0.5rem;
  }

  .pagination li:last-child a {
    margin-left: 0.5rem;
  }