/* MyDrive */
:root{
    --active-link: #0d6efd;
    --sidebar-grey: rgb(248,249,250);
    --bg-grey: rgb(247,249,252);
}

html, body{
    /* min-height: 100%;
    max-height: 100%; */
    min-height: 100vh;
    max-height: 100vh;
    background: var(--bg-grey);
}

.nav-icon{
    width: 30px;
    height: 30px;
}

.s-icon {
    position: absolute;
    left: 11px; 
    top: 11px; 
    color: grey;
}

#path > a {
    color: #474646;
    font-weight: 400;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
}

#path > a:hover {
    border-radius: 35%;
    background-color: #f1efef;
} 

.input-container {
    position: relative;
}

.search-input{
    border-radius: 20px;
}

#new-btn{
    /* color: var(--bg-grey)!important; */
    width: 90%;
    color: #000;
    background: #fff;
    border: 0;
    border-radius: 15px;
    padding: 0.8rem;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#new-btn:hover{
    background: rgb(237,241,250);
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 10px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icon-input {
    padding-left: 35px !important; /* Espacio para el icono */
}

.form-switch .form-switch-input {
    font-size: 1em;
    width: 3rem !important;
    
}

.sidebar {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;

    background-color: var(--sidebar-grey); 
}

.sidebar-item{
    color: var(--active-link) !important;
}

.sidebar-item:hover{
    background-color: var(--active-link);
    color: azure!important;
}

.h40{
    height: 40px; 
}

.gb{
    background: var(--sidebar-grey);
    /* padding: 0.3rem 3rem; */
    /* float: left; */
}

main{
    flex: 1;
    border-radius: 15px !important;
    background: #fff;
    /* text-overflow: clip; */
}

main {
    min-height: 99%;
    max-height: 99%;
    overflow: hidden; /* Esto evita que el contenido se desborde */
}

.directory{
    width: 100% !important;
}


/* ---------------------------------- DataTable ---------------------------------- */
.selected-row {
    background-color: rgb(194,231,255) !important;
}

.dataTables_filter,
.dataTables_info  {
    display: none;
}

#fileTable tbody td:nth-child(1) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Seccion de tabla */

.selected-row {
    background-color: rgb(194,231,255) !important;
}

.dataTables_filter,
.dataTables_info  {
    display: none;
}

#fileTable tbody td:nth-child(1) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#fileTable_wrapper .dataTables_scrollHead {
    overflow: hidden !important;
}

#fileTable_wrapper .dataTables_scrollHead table {
    margin-bottom: 0 !important;
}

#fileTable_wrapper .dataTables_scrollBody {
    max-height: 300px !important; /* Puedes ajustar esta altura según tus necesidades */
    overflow-y: auto !important;
}

#fileTable_wrapper .dataTables_scroll {
    overflow: visible !important; /* Asegura que el scroll vertical sea visible en el tbody */
}



.gb{
    max-height: inherit;
    padding: 0.5rem 1rem 1rem 0;
  }

  .table-responsive, .dataTables_wrapper{
    max-height: inherit;
    overflow-y: auto;
  }

  .directory{
    max-height: inherit;
  }

  .main-container{
    display: flex;
    
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: inherit;
  }

  .pr{
    flex-grow: 1;
    overflow-y: hidden;
  }

    .sidebar, main{
        max-height: inherit;
    }

    .foot{
        height: 20px;
        background-color: blue;
        color: white;
    }

/* -------------- Seccion de iconos -------------- */

.i-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    transform: translateY(0.2rem);
}
.android-icon {
    background-image: url('/icons/android.svg');
}
.apk-icon {
    background-image: url('/icons/apk.svg');
}
.audio-icon {
    background-image: url('/icons/audio.svg');
}
.code-icon {
    background-image: url('/icons/code.svg');
}
.compressed-icon {
    background-image: url('/icons/compressed.svg');
}
.css-icon {
    background-image: url('/icons/css.svg');
}
.csv-icon {
    background-image: url('/icons/csv.svg');
}
.excel-icon {
    background-image: url('/icons/excel.svg');
}
.exe-icon {
    background-image: url('/icons/exe.svg');
}
.folder-icon {
    background-image: url('/icons/folder.svg');
}
.gif-icon {
    background-image: url('/icons/gif2.svg');
}
.html-icon {
    background-image: url('/icons/html.svg');
}
.img-icon {
    background-image: url('/icons/img.svg');
}
.js-icon {
    background-image: url('/icons/js.svg');
}
.music-icon {
    background-image: url('/icons/music.svg');
}
.pdf-icon {
    background-image: url('/icons/pdf-light.svg');
}
.ppt-icon {
    background-image: url('/icons/ppt.svg');
}
.python-icon {
    background-image: url('/icons/python.svg');
}
.ppt-icon {
    background-image: url('/icons/ppt.svg');
}
.python-icon {
    background-image: url('/icons/python.svg');
}
.svg-icon {
    background-image: url('/icons/svg.svg');
}
.txt-icon {
    background-image: url('/icons/txt.svg');
}
.unknown-icon {
    background-image: url('/icons/unknown.svg');
}
.video-icon {
    background-image: url('/icons/video.svg');
}
.word-icon {
    background-image: url('/icons/word.svg');
}
.xml-icon {
    background-image: url('/icons/xml.svg');
}
.zip-icon {
    background-image: url('/icons/zip.svg');
}


/* .dataTable-container {
    width: 100%;
    overflow: hidden;
}

.dataTable {
    width: 100%;
    border-collapse: collapse;
}

  .dataTable thead {
    position: sticky;
    top: 0;
  }

  .dataTable tbody {
    max-height: 100%; 
    overflow-y: auto;
  } */

  